<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BANKPROJECT</display-name>
	<filter>
		<description>
		</description>
		<display-name>Changeassword</display-name>
		<filter-name>Changeassword</filter-name>
		<filter-class>controller.Changeassword</filter-class>
	</filter>
		<filter-mapping>
		<filter-name>Changeassword</filter-name>
		<url-pattern>/Changeassword</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Changeassword</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>controller.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalence</display-name>
		<servlet-name>CheckBalence</servlet-name>
		<servlet-class>controller.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferAmount</display-name>
		<servlet-name>TransferAmount</servlet-name>
		<servlet-class>controller.TransferAmount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>controller.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AppLoan</display-name>
		<servlet-name>AppLoan</servlet-name>
		<servlet-class>controller.AppLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogOut</display-name>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>controller.LogOut</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMail</display-name>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>controller.SendMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>controller.ForgotPassword</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalence</servlet-name>
		<url-pattern>/CheckBalence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferAmount</servlet-name>
		<url-pattern>/TransferAmount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppLoan</servlet-name>
		<url-pattern>/AppLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
